{:blocks (
{:block/content "比特币的初衷是实现一个点对点的支付系统，可以不经过任何第三方机构，就像两个持有现金的人进行交易一样。电子签名虽然可以证明数据的真实性和完整性，但是为了解决 double-spending problem 还是需要第三方中心结构的介入。比特币把交易打包到区块里，每个区块含有上一个区块的 hash，形成一条链。想要 double spend 一笔钱就要在某个地方分叉，同时利用大量 cpu 资源去超过当前的最长链，这几乎是不可能完成的，因此比特币在不引中心化第三方机构的情况下解决这个问题。只要整个网络中诚实的节点占大多数，这个网络就是安全的。"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"} 
{:block/created-at 1696779691285
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6522cd53-7baa-4a83-8bba-2126f250d865"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing false
:type "logseq-portal"
:size [408 280]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f091fdc0-65f0-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [112 120]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779599816}}
:block/updated-at 1696779691285} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/uuid #uuid "6522cdbc-033f-4a23-a64c-05cdef9672ca"} 
{:block/created-at 1696779709007
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "6522cdbc-033f-4a23-a64c-05cdef9672ca"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [656 280]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779695101}}
:block/updated-at 1696779709007} 
{:block/created-at 1696779738511
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "42ad6e52-65f1-11ee-8fa6-094cdaa3adc0"
:fontWeight 400
:noFill true
:point [521 287.44]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "42ad6e50-65f1-11ee-8fa6-094cdaa3adc0"}
:end 
{:id "end"
:canBind true
:point [131 17.54]
:bindingId "42ad6e51-65f1-11ee-8fa6-094cdaa3adc0"}}
:decorations 
{:end "arrow"}
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:nonce 1696779737595
:italic false}}
:block/updated-at 1696779738511})
:pages (
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:name "how bitcoin works"
:bindings 
{:42ad6e50-65f1-11ee-8fa6-094cdaa3adc0 
{:id "42ad6e50-65f1-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "42ad6e52-65f1-11ee-8fa6-094cdaa3adc0"
:toId "f091fdc0-65f0-11ee-8fa6-094cdaa3adc0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:42ad6e51-65f1-11ee-8fa6-094cdaa3adc0 
{:id "42ad6e51-65f1-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "42ad6e52-65f1-11ee-8fa6-094cdaa3adc0"
:toId "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:handleId "end"
:point [0.25 0.87]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("f091fdc0-65f0-11ee-8fa6-094cdaa3adc0" "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0" "42ad6e52-65f1-11ee-8fa6-094cdaa3adc0")}}
:block/updated-at 1696779738511
:block/created-at 1696779438470
:block/type "whiteboard"
:block/name "how bitcoin works"
:block/original-name "how bitcoin works"})}