{:blocks (
{:block/content "比特币的初衷是实现一个点对点的支付系统，可以不经过任何第三方机构，就像两个持有现金的人进行交易一样。电子签名虽然可以证明数据的真实性和完整性，但是为了解决 double-spending problem 还是需要第三方中心结构的介入。比特币把交易打包到区块里，每个区块含有上一个区块的 hash，形成一条链。想要 double spend 一笔钱就要在某个地方分叉，同时利用大量 cpu 资源去超过当前的最长链，这几乎是不可能完成的，因此比特币在不引中心化第三方机构的情况下解决这个问题。只要整个网络中诚实的节点占大多数，这个网络就是安全的。"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"} 
{:block/created-at 1696779691285
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6522cd53-7baa-4a83-8bba-2126f250d865"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing false
:type "logseq-portal"
:size [408 280]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f091fdc0-65f0-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [112 120]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779599816}}
:block/updated-at 1696779691285} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/uuid #uuid "6522cdbc-033f-4a23-a64c-05cdef9672ca"} 
{:block/created-at 1696779787935
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "6522cdbc-033f-4a23-a64c-05cdef9672ca"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [472 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [608 192]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779695192}}
:block/updated-at 1696779787935})
:pages (
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:name "how bitcoin works"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("f091fdc0-65f0-11ee-8fa6-094cdaa3adc0" "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0")}}
:block/updated-at 1696779787935
:block/created-at 1696779438470
:block/type "whiteboard"
:block/name "how bitcoin works"
:block/original-name "how bitcoin works"})}