{:blocks (
{:block/content "比特币的初衷是实现一个点对点的支付系统，可以不经过任何第三方机构，就像两个持有现金的人进行交易一样。电子签名虽然可以证明数据的真实性和完整性，但是为了解决 double-spending problem 还是需要第三方中心结构的介入。比特币把交易打包到区块里，每个区块含有上一个区块的 hash，形成一条链。想要 double spend 一笔钱就要在某个地方分叉，同时利用大量 cpu 资源去超过当前的最长链，这几乎是不可能完成的，因此比特币在不引中心化第三方机构的情况下解决这个问题。只要整个网络中诚实的节点占大多数，这个网络就是安全的。"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"} 
{:block/created-at 1696779691285
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6522cd53-7baa-4a83-8bba-2126f250d865"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing false
:type "logseq-portal"
:size [408 280]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f091fdc0-65f0-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [112 120]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779599816}}
:block/updated-at 1696779691285} 
{:block/content "比特币使用的 hash function 有的一些性质\n1. collision resistance。很难人为的制造 hash 碰撞，只有硬算。这个性质可用于防止被篡改。\n2. hiding。计算时单向不可逆的，即 hash 结果不泄露任何原始信息。也只能通过把输入空间全部算一遍来得知原始值。\n3. puzzle friendly。事先不知道哪个输入能得到某种固定格式的输出。挖矿本质上就是去算哪个 nouce 可以使得 `H(Block Header) <= target`\n比特币使用的是 **SHA-256**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522cd53-7baa-4a83-8bba-2126f250d865"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "6522cdbc-033f-4a23-a64c-05cdef9672ca"} 
{:block/created-at 1697384015715
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "6522cdbc-033f-4a23-a64c-05cdef9672ca"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [552 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [608 192]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1696779695279}}
:block/updated-at 1697384015715} 
{:block/content "前两个性质结合可以实现 digital equivalent of a sealed envelope。hiding 保证在 envelope 被打开前没人知道里面的具体信息，collision resistance 保证信封里的内容确实是原本放入的信息。这个得以成立的条件是输入空间要足够大，不然需要对原本信息加个 nonce 再 hash。"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6522cdbc-033f-4a23-a64c-05cdef9672ca"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "652c0398-4cf9-442f-b95e-cd05bfe8dd06"} 
{:block/created-at 1697384061197
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "652c0398-4cf9-442f-b95e-cd05bfe8dd06"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 161]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "950a0320-6b6e-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [944 560]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1697383318861}}
:block/updated-at 1697384061197} 
{:block/created-at 1697384061203
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "fe055142-6b6e-11ee-8fa6-094cdaa3adc0"
:fontWeight 400
:noFill true
:point [981.55 402]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "fe055140-6b6e-11ee-8fa6-094cdaa3adc0"}
:end 
{:id "end"
:canBind true
:point [142.39 154]
:bindingId "fe055141-6b6e-11ee-8fa6-094cdaa3adc0"}}
:decorations 
{:end "arrow"}
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:nonce 1697383494879
:italic false}}
:block/updated-at 1697384061203} 
{:block/content "挖矿很难，但验证很简单，只要算一遍 hash 即可。"
:block/format :markdown
:block/left 
{:block/uuid #uuid "652c0398-4cf9-442f-b95e-cd05bfe8dd06"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "652c060d-7bdd-41b5-b151-eaff9968ed20"} 
{:block/created-at 1697384059007
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "652c060d-7bdd-41b5-b151-eaff9968ed20"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "0ca5b680-6b70-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [976 -8]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1697383949137}}
:block/updated-at 1697384059007} 
{:block/created-at 1697384059013
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "1f05ff62-6b70-11ee-8fa6-094cdaa3adc0"
:fontWeight 400
:noFill true
:point [992.47 37]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 154]
:bindingId "1f05ff60-6b70-11ee-8fa6-094cdaa3adc0"}
:end 
{:id "end"
:canBind true
:point [158.34 0]
:bindingId "1f05ff61-6b70-11ee-8fa6-094cdaa3adc0"}}
:decorations 
{:end "arrow"}
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:nonce 1697383979760
:italic false}}
:block/updated-at 1697384059013} 
{:block/content "在比特币中，开设账户只需要在本地生成公私钥对。非对称加密相较于对称加密，解决了密钥分发困难的问题。某人发起一笔转账，"
:block/format :markdown
:block/left 
{:block/uuid #uuid "652c060d-7bdd-41b5-b151-eaff9968ed20"}
:block/parent 
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"}
:block/properties 
{}
:block/uuid #uuid "652d47b7-3e57-421f-b9ba-943531910e80"} 
{:block/created-at 1697466449169
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "652d47b7-3e57-421f-b9ba-943531910e80"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 88.99999999999999]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c61ac550-6c2f-11ee-8fa6-094cdaa3adc0"
:noFill false
:point [648 -328]
:parentId "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:collapsedHeight 0
:nonce 1697466293803}}
:block/updated-at 1697466449169})
:pages (
{:block/uuid #uuid "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6522ccae-2e85-4fe4-8e34-f75f8235367f"
:name "how bitcoin works"
:bindings 
{:fe055140-6b6e-11ee-8fa6-094cdaa3adc0 
{:id "fe055140-6b6e-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "fe055142-6b6e-11ee-8fa6-094cdaa3adc0"
:toId "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:fe055141-6b6e-11ee-8fa6-094cdaa3adc0 
{:id "fe055141-6b6e-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "fe055142-6b6e-11ee-8fa6-094cdaa3adc0"
:toId "950a0320-6b6e-11ee-8fa6-094cdaa3adc0"
:handleId "end"
:point [0.65 0.52]
:distance 4}
:1f05ff60-6b70-11ee-8fa6-094cdaa3adc0 
{:id "1f05ff60-6b70-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "1f05ff62-6b70-11ee-8fa6-094cdaa3adc0"
:toId "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:1f05ff61-6b70-11ee-8fa6-094cdaa3adc0 
{:id "1f05ff61-6b70-11ee-8fa6-094cdaa3adc0"
:type "line"
:fromId "1f05ff62-6b70-11ee-8fa6-094cdaa3adc0"
:toId "0ca5b680-6b70-11ee-8fa6-094cdaa3adc0"
:handleId "end"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("f091fdc0-65f0-11ee-8fa6-094cdaa3adc0" "2963bcb0-65f1-11ee-8fa6-094cdaa3adc0" "950a0320-6b6e-11ee-8fa6-094cdaa3adc0" "fe055142-6b6e-11ee-8fa6-094cdaa3adc0" "0ca5b680-6b70-11ee-8fa6-094cdaa3adc0" "1f05ff62-6b70-11ee-8fa6-094cdaa3adc0" "c61ac550-6c2f-11ee-8fa6-094cdaa3adc0")}}
:block/updated-at 1697466480675
:block/created-at 1696779438470
:block/type "whiteboard"
:block/name "how bitcoin works"
:block/original-name "how bitcoin works"})}